.Timer {
    height: 50px;
    font-size: 25px;
    font-family: BlagovestFourSerifC;
    padding-top: 20px;
    // display: flex;
    // align-items: center;

    span{
        margin-top: 15px;
        height: 40px;
    }
}