# place to /etc/systemd/system/togetherness-deploy.timer
# or, better, create with
# sudo systemctl edit --full --force togetherness-deploy.timer

[Unit]
Description=Run togetherness-deploy.service every 1 minute

[Timer]
OnBootSec=15min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
