@import "./variables.scss";

.App {
  text-align: center;
  color: white;
  // background-repeat: ;
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 600px;
  max-width: 900px;
  max-height: 900px;
}

@font-face {
  font-family: "BlagovestFourSerifC";
  // src: url("./font/BadScript-Regular.ttf");
  src: url("./font/ofont.ru_BlagovestFourSerifC.ttf");
  font-style: normal;
  font-weight: 200;
  /* font-variation-settings: "wdth" 1000; */
}