// <div className='MainPage'>
// <div className='timer'>XX:XX</div>
// <div className='avatar'>
//     <div className='qr-code'></div>
// </div>
// <div className='goldCount'></div>
// <CustomButton>Взаимодействовать</CustomButton>
// </div>

.MainPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("../../images/backgrounds/1_страничка_игра-03.jpg") no-repeat;
    background-size: 100% 100%;

    .timer {
        width: 100%;
        text-align: center;
    }

    .avatar {
        // width: 90%;
        height: 50%;
        aspect-ratio: 1/1;
        max-width: 95%;
        // background: center / contain no-repeat url(../../../public/images/unicorn.jpg);
        display: flex;
        justify-content: center;

        .avatarImage {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #415580;
            box-shadow: 0px 0px 7px 5px #444d5e;

        }

        .qr-code-btn {
            right: calc(50% - 185px);
            height: 100px;
            width: 100px;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .goldCount {
        height: 50px;
        width: 90%;
        min-width: 333px;
        max-width: 400px;
        text-align: center;
        background: #415580;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: BlagovestFourSerifC;
        font-size: 30px;

        span {
            height: auto;
            width: 100%;
            text-align: center;
        }
    }


    .qr-code-substrate {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.384);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        .qr-code-substrate2 {

            background: white;
            padding: 10px;
            // width: 200px;
            // height: 200px;

            .qr-code {
                width: 100%;
                height: 50%;
                // background: center / contain no-repeat url(../../../public/images/unicorn.jpg);
            }
        }
    }
}